<div class="flexbox-parent">
    <div class="flexbox-item flex-space-between">
        <app-relative-btn></app-relative-btn>
        <app-relative-btn></app-relative-btn>
        <app-relative-btn></app-relative-btn>
    </div>

    <div class="flexbox-item flexbox-item-grow flex-align-by-center flex-space-between">
        <app-relative-btn></app-relative-btn>
        <app-relative-selection></app-relative-selection>
        <app-relative-btn></app-relative-btn>
    </div>

    <div class="flexbox-item flex-space-between">
        <app-relative-btn></app-relative-btn>
        <app-relative-btn></app-relative-btn>
        <app-relative-btn></app-relative-btn>
    </div>
</div>
