<div #container></div>

<div>
    {{htmlRepresentation}}
</div>

<div>
    <button (click)="manuallyChangeState()">change state</button>
</div>
<div>
    <button (click)="setFocus()">set focus</button>
</div>
<div>
    <button (click)="addEmMarkToSelectedText()">add em mark to selected text</button>
</div>
<div>
    <button (click)="addStrongMarkToSelectedText()">add Strong mark to selected text</button>
</div>
<div>
    <button (click)="removeStrongMarkToSelectedText()">remove Strong mark to selected text</button>
</div>
<div>
    <button (click)="removeAllMarksFromSelectedText()">remove All mark to selected text</button>
</div>
<div>
    <button (click)="convertToLinkSelectedText()">convert selected text to link</button>
</div>
<div>
    <button (click)="addHighlightMarkToSelectedText()">add highlight mark to selected text</button>
</div>
