<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>

        <div class="col-5">
            <div class="mb-4">
                <h2>Dropdown</h2>

                <div ngbDropdown class="w-dropdown">
                    <button class="btn btn-link w-btn" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action - 1</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h2>Buttons</h2>
                <button type="button" class="btn btn-primary w-btn">Primary</button>

                <button type="button" class="btn btn-primary w-btn">
                    <span class="w-icon oi oi-account-login" title="icon name" aria-hidden="true"></span>
                    <span>Primary</span>
                </button>

                <button type="button" class="btn btn-link w-btn">Link</button>

                <button type="button" class="btn btn-link w-btn">
                    <span class="w-icon oi oi-account-login" title="icon name" aria-hidden="true"></span>
                    <span>Clear</span>
                </button>

                <button type="button" class="btn btn-link w-btn">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-link w-btn btn-sm">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                </button>
            </div>

            <div class="mb-4">
                <h2>Selection List</h2>
                <ul class="w-selection-list">
                    <li class="w-selection-list__selected_item">
                        <div class="w-selection-list__item">
                            <p>test</p>

                            <button type="button" class="btn btn-link w-btn">Link</button>
                        </div>

                        <ul class="w-selection-list__level-2">
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="w-selection-list__item">
                            <button type="button" class="btn btn-link w-btn">Link</button>
                        </div>
                    </li>
                    <li>
                        <ul class="w-selection-list__level-2">
                            <li class="w-selection-list__selected_item">
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2>Brick input placeholder</h2>
                <div class="w-brick-input-placeholder">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                    <span>Add an Image</span>
                </div>
            </div>

            <div class="mb-4">
                <h2>Form controls</h2>
                <p>
                    <input class="form-control w-input" placeholder="Paste the image link">
                </p>

                <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="oi oi-external-link"></span>
                    </span>
                </span>

                    <input class="form-control w-input" placeholder="Paste the image link">
                </div>
            </div>

            <div class="mb-4">
                <h2>Icon</h2>

                <a href="https://useiconic.com/open">List of icons</a>
            </div>

            <div class="mb-4">
                <h2>Modal</h2>

                <button (click)="openModal()" class="btn btn-link w-btn">Open General modal</button>
            </div>
        </div>

        <div class="col-5 w-secondary-zone">
            <div class="mb-4">
                <h2>Dropdown</h2>

                <div ngbDropdown class="w-dropdown">
                    <button class="btn btn-link w-btn" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item">Action - 1</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h2>Buttons</h2>
                <button type="button" class="btn btn-primary w-btn">Primary</button>

                <button type="button" class="btn btn-primary w-btn">
                    <span class="w-icon oi oi-account-login" title="icon name" aria-hidden="true"></span>
                    <span>Primary</span>
                </button>

                <button type="button" class="btn btn-link w-btn">Link</button>

                <button type="button" class="btn btn-link w-btn">
                    <span class="w-icon oi oi-account-login" title="icon name" aria-hidden="true"></span>
                    <span>Clear</span>
                </button>

                <button type="button" class="btn btn-link w-btn">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                </button>

                <button type="button" class="btn btn-link w-btn btn-sm">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                </button>
            </div>

            <div class="mb-4">
                <h2>Selection List</h2>
                <ul class="w-selection-list">
                    <li class="w-selection-list__selected_item">
                        <div class="w-selection-list__item">
                            <p>test</p>

                            <button type="button" class="btn btn-link w-btn">Link</button>
                        </div>

                        <ul class="w-selection-list__level-2">
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="w-selection-list__item">
                            <button type="button" class="btn btn-link w-btn">Link</button>
                        </div>
                    </li>
                    <li>
                        <ul class="w-selection-list__level-2">
                            <li class="w-selection-list__selected_item">
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                            <li>
                                <div class="w-selection-list__item">foo</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="mb-4">
                <h2>Brick input placeholder</h2>
                <div class="w-brick-input-placeholder">
                    <span class="w-icon oi oi-image" title="icon name" aria-hidden="true"></span>
                    <span>Add an Image</span>
                </div>
            </div>

            <div class="mb-4">
                <h2>Form controls</h2>
                <p>
                    <input class="form-control w-input" placeholder="Paste the image link">
                </p>

                <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="oi oi-external-link"></span>
                    </span>
                </span>

                    <input class="form-control w-input" placeholder="Paste the image link">
                </div>
            </div>

            <div class="mb-4">
                <h2>Icon</h2>

                <a href="https://useiconic.com/open">List of icons</a>
            </div>

            <div class="mb-4">
                <h2>Modal</h2>

                <button (click)="openModal()" class="btn btn-link w-btn">Open General modal</button>
            </div>
        </div>

        <div class="col-1"></div>
    </div>
</div>