<div class="app-wrapper">
    <div class="panel">
        <wall [configuration]="wallConfiguration" [plan]="wallPlan"></wall>
    </div>
    <!--<div class="panel">
        <h2>Support tags:</h2>
        <ul>
            <li>/h</li>
            <li>/img</li>
        </ul>

        <h2>Navigation</h2>
        <p>Use top, down keys to navigate between text bricks</p>

        <h2>Mode</h2>
        <p>Press Escape to Enter to Selection mode</p>
        <p>Press Shift in selection mode to select few bricks</p>
    </div>-->
    <!--<div class="panel">
        <h2>UI component</h2>

        <div>
            <h3>Panel</h3>
            <div class="w-panel">
                <div class="w-panel__header">
                    <div class="w-header__tab w-header__tab-active">
                        <button type="button" class="btn btn-light btn-sm">Tab 1</button>
                    </div>
                    <div class="w-header__tab">
                        <button type="button" class="btn btn-light btn-sm">Tab 2</button>
                    </div>
                </div>
                <div class="w-panel__body">
                    <div class="form-group w-form-group">
                        <input type="email" class="form-control w-input" placeholder="Paste the image link">
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary btn-sm btn-block">Embed image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <h2>Plan</h2>

        <pre>
            {{plan | json}}
        </pre>
    </div>-->
</div>