<input type="text" [formControl]="input" (keydown)="onKeydown($event)">

<input-projection [keyStream$]="keyStream$" (value)="onValue($event)">
    <!-- Register cdkPanelItem. -->
    <ng-container cdkInputProjectionDef [stream]="list1$">
        <h2 *cdkPanelItemTitle>First list</h2>
        <span *cdkPanelItem="let item">{{item.name}}</span>
    </ng-container>

    <!-- Register another cdkPanelItem. -->
    <ng-container cdkInputProjectionDef [stream]="list2$">
        <h2 *cdkPanelItemTitle>Second list</h2>
        <span *cdkPanelItem="let item">{{item.name}}</span>
    </ng-container>
</input-projection>
