<input type="text" [formControl]="input" (keyup)="onKeydown($event)">

<lib-ngx-input-projection [keyStream$]="keyStream$" (value)="onValue($event)">
    <!-- Register cdkPanelItem. -->
    <ng-container cdkInputProjectionDef="age" [stream]="list1$">
        <h1 cdk-item *cdkPanelItem="let item">{{item.name}} </h1>
    </ng-container>

    <!-- Register another cdkPanelItem. -->
    <ng-container cdkInputProjectionDef="age" [stream]="list2$">
        <h2 cdk-item *cdkPanelItem="let item">{{item.name}} </h2>
    </ng-container>
</lib-ngx-input-projection>
