<div class="container-fluid" [pick-out-area]="{scrollableContainer: container}">
    <div class="row">
        <div class="col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">

            <button (click)="wallModel.api.core2.enableReadOnly()">Enable Read only</button>
            <button (click)="wallModel.api.core2.disableReadOnly()">Disable Read only</button>

            <div #container>
                <wall [model]="wallModel"
                      [configuration]="wallConfiguration"></wall>
                <br>
                <hr>
                <br>
                <pre>{{wallModel.api.core2.plan$ | async | json}}</pre>
            </div>
        </div>
    </div>
</div>

