@import '~@angular/material/theming';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '../projects/ngx-wall/src/lib/resources/scss/index';

/* Material Icons */
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/material-icon/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./assets/fonts/material-icon/MaterialIcons-Regular.woff2) format('woff2'),
    url(./assets/fonts/material-icon/MaterialIcons-Regular.woff) format('woff'),
    url(./assets/fonts/material-icon/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* roboto-100 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin'), local('Roboto-Thin'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-100italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.woff') format('woff'), /* Modern Browsers */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./assets/fonts/Roboto/roboto-v18-latin_cyrillic-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$typography: mat-typography-config();

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core($typography);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($typography);

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$theme-primary: mat-palette($mat-indigo, 700, 300, 900);
$theme-accent: mat-palette($mat-light-blue);
$theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$theme: mat-light-theme(
        $theme-primary,
        $theme-accent,
        $theme-warn
);

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, accent);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// include wall core styles
@include wall();

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: mat-font-family($typography);
    font-size: mat-font-size($typography, body-1);
    background: mat-color($background, background);
}

a {
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

button:focus {
    outline: none;
}


@media (max-width: 680px) {
    wall-canvas-row {
        flex-direction: column;

        .wall-canvas-row__column {
            margin: 0 !important;
        }
    }
}


// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@include angular-material-theme($theme);
@include wall-theme($theme, $typography);
